<!DOCTYPE html>
<html ng-app="nutr">
<head lang="en">
 <title>NutritionixSearcher</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body ng-controller="HomeController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-md-offset-4">
        <h1 class="logo">Nutrionix Search</h1>
      </div>
    </div>
    <div>
      <input type=text placeholder="query and press enter" ng-model="val" ng-keypress="sendReq($event)">
    </div>
    <div>
      <h2 class="logo">Results</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Brand Name</th>
            <th>Serving Size Unit</th>
            <th>Serving Size Qty</th>
            <th>Item ID</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in results">
              <th>{{$index+1}}</th>
              <td>{{item.fields.item_name}}</td>
              <td>{{item.fields.brand_name}}</td>
              <td>{{item.fields.nf_serving_size_unit}}</td>
              <td>{{item.fields.nf_serving_size_qty}}</td>
              <td>{{item.fields.item_id}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="build.js"></script>
</body>
</html>
